---
import { getCollection, render } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import { stripDatePrefix } from "@/lib/utils";

export async function getStaticPaths() {
  const entries = await getCollection("articles");
  return entries.map((entry) => {
    const slug = stripDatePrefix(entry.id);
    return {
      params: { slug },
      props: entry,
    };
  });
}

const entry = Astro.props;
const { Content } = await render(entry);
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
  <article class="container mt-16">
    <header>
      <time
        class="text-muted-foreground inline-block font-medium"
        datetime={entry.data.published.toISOString()}
      >
        {
          new Date(entry.data.published).toLocaleDateString("en-US", {
            year: "numeric",
            month: "short",
            day: "2-digit",
            weekday: "short",
          })
        }
      </time>
      <h2 class="mt-4 text-2xl leading-tight font-medium tracking-tight">
        {entry.data.title}
      </h2>
    </header>
    <div class="prose prose-longform mt-8">
      <Content />
    </div>
  </article>

  <footer class="container mt-16">
    <a
      href="/articles"
      class="text-muted-foreground inline-flex items-center gap-x-1"
    >
      <Icon name="arrow-left" aria-hidden="true" />Back to all entries</a
    >
  </footer>
</BaseLayout>
