---
import { getCollection, render } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";

export async function getStaticPaths() {
  const notes = await getCollection("notes");
  return notes.map((n) => ({
    params: { slug: n.id },
    props: n,
  }));
}

const note = Astro.props;
const { Content } = await render(note);
---

<BaseLayout>
  <article class="mt-16 container">
    <time
      class="inline-block text-foreground-muted font-medium"
      datetime={note.data.published.toISOString()}
    >
      {
        new Date(note.data.published).toLocaleDateString("en-US", {
          year: "numeric",
          month: "short",
          day: "2-digit",
          weekday: "short",
        })
      }
    </time>
    {
      note.data.link ? (
        <header class="mt-4">
          <h2 class="font-medium">
            <a
              href={note.data.link.url}
              target="_blank"
              rel="noopener noreferrer"
              class="relative pr-4.5"
            >
              {note.data.link.title}
              <Icon
                name="square-arrow-out-up-right"
                class="absolute right-0 text-foreground-muted top-0.5"
                aria-hidden="true"
              />
            </a>
          </h2>
          <p class="text-foreground-muted">
            {new URL(note.data.link.url).hostname}
          </p>
        </header>
      ) : null
    }
    {
      note.body ? (
        <div class="mt-4 prose">
          <Content />
        </div>
      ) : null
    }
  </article>

  <footer class="container mt-16">
    <a href="/notes" class="text-foreground-muted flex gap-x-1 items-center">
      <Icon name="arrow-left" aria-hidden="true" />Back to all notes</a
    >
  </footer>
</BaseLayout>
