---
import { getCollection, render } from "astro:content";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Pagination from "@/components/Pagination.astro";
import NoteItem from "@/components/notes/NoteItem.astro";

export async function getStaticPaths({ paginate }) {
  const notes = await getCollection("notes");

  const sortedNotes = notes.sort(
    (a, b) =>
      Date.parse(b.data.published.toString()) -
      Date.parse(a.data.published.toString()),
  );

  return paginate(sortedNotes, { pageSize: 20 });
}

type Props = { page: Page<CollectionEntry<"notes">> };

const { page } = Astro.props;

const renderedNotes = await Promise.all(
  page.data.map(async (note) => {
    const { Content } = await render(note);
    return { note, Content };
  }),
);
---

<BaseLayout title="Notes">
  <header class="container">
    <span
      class="block max-w-[40ch] text-2xl leading-tight font-medium tracking-tight"
      ><h1 class="inline">Notes</h1>
      <span class="text-muted-foreground"
        >on engineering, developer experience, design systems, and
        accessibility.</span
      ></span
    >
  </header>

  <section class="container mt-20">
    <ul>
      {renderedNotes.map(({ note, Content }) => <NoteItem {note} {Content} />)}
    </ul>

    <Pagination page={page} class="mt-20" collection="notes" />
  </section>
</BaseLayout>
