---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const meta = {
  title: "Micah Lee Carpenter",
  description: "Born May 09, 2023",
  lastUpdated: "2025-07-07T08:31:25-0400",
};
---

<BaseLayout title={meta.title} description={meta.description}>
  <article class="container">
    <header>
      <h1
        class="text-3xl font-medium tracking-tight text-pretty [text-box-trim:trim-start]"
      >
        {meta.title}
      </h1>
      <p class="text-muted-foreground mt-2 text-lg leading-[1.45] text-pretty">
        {meta.description}
      </p>
    </header>
    <div class="mt-10">
      <Image
        src="/images/micah-lee-carpenter.webp"
        width="960"
        height="720"
        alt="Micah Lee Carpenter"
      />
    </div>
  </article>
</BaseLayout>
