---
import DemoLayout from "@/layouts/DemoLayout.astro";
---

<DemoLayout>
  <div
    class="w-full flex-1 bg-[radial-gradient(var(--color-red-600)_1px,transparent_1.3px)] bg-[length:24px_24px] bg-[position:0_0] bg-repeat-round"
  >
  </div>
</DemoLayout>
