---
import DemoLayout from "@/layouts/DemoLayout.astro";
---

<DemoLayout>
  <p class="max-w-xl my-auto leading-relaxed">
    Lorem ipsum dolor sit amet, <mark
      class="[box-decoration-break:clone] bg-yellow-500 px-1 rounded"
      >consectetur adipisicing elit. Deleniti, repellendus aspernatur quisquam
      inventore aliquam</mark
    > maxime laboriosam maiores provident illum ab quibusdam assumenda perspiciatis
    perferendis exercitationem temporibus, itaque cupiditate magnam neque!
  </p>
</DemoLayout>
