---
import DemoLayout from "@/layouts/DemoLayout.astro";
---

<DemoLayout>
  <p class="my-auto max-w-xl leading-relaxed">
    Lorem ipsum dolor sit amet, <mark
      class="rounded bg-yellow-500 [box-decoration-break:clone] px-1"
      >consectetur adipisicing elit. Deleniti, repellendus aspernatur quisquam
      inventore aliquam</mark
    > maxime laboriosam maiores provident illum ab quibusdam assumenda perspiciatis
    perferendis exercitationem temporibus, itaque cupiditate magnam neque!
  </p>
</DemoLayout>
