---
import DemoLayout from "@/layouts/DemoLayout.astro";
---

<DemoLayout>
  <div
    class="bg-grid absolute inset-0 p-2 [&:not(:has(input:checked))]:[background:transparent]"
  >
    <label class="flex items-center gap-x-2 font-mono text-xs select-none">
      <input type="checkbox" checked />
      Toggle background
    </label>
  </div>
  <div
    class:list={[
      "relative m-auto w-full max-w-lg p-8",
      "[--bg:var(--color-blue-500)] [--fg:var(--color-white)]",
      "dark:[--bg:var(--color-blue-700)]",
    ]}
  >
    <div class="grid grid-cols-2 gap-4">
      <div class="flex flex-col gap-y-4">
        <button class="h-11 rounded-md bg-[var(--bg)] text-[var(--fg)]"
          >Opacity</button
        >
        <button
          class="h-11 rounded-md bg-[var(--bg)] text-[var(--fg)] opacity-50"
          disabled>Opacity</button
        >
      </div>
      <div class="flex flex-col gap-y-4">
        <button class="h-11 rounded-md bg-[var(--bg)] text-[var(--fg)]"
          >Color Mix</button
        >
        <button
          class="h-11 rounded-md bg-[color-mix(in_srgb,var(--bg)_50%,var(--color-background))] text-[color-mix(in_srgb,var(--fg)_50%,var(--color-background))]"
          disabled>Color Mix</button
        >
      </div>
    </div>
  </div>
</DemoLayout>
