---
import DemoLayout from "@/layouts/DemoLayout.astro";
---

<DemoLayout>
  <div class="m-auto w-full max-w-lg">
    <p class="relative inline-block text-2xl">
      <span class="text-accent absolute right-full">“</span>Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Iste officia quasi fugiat, dolores
      ab nam repellendus voluptate.<span class="text-accent">”</span>
    </p>
  </div>
</DemoLayout>
