---
import DemoLayout from "@/layouts/DemoLayout.astro";
import { Icon } from "astro-icon/components";
---

<DemoLayout>
  <div class="m-auto max-w-lg p-4">
    <p class="inline-block relative pr-[1.5em]">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ducimus<span
        class="absolute inline-flex items-center h-[1lh] ml-[.25em]"
        ><Icon name="arrow-up-right" class="size-[1em] text-accent" /></span
      >
    </p>
  </div>
</DemoLayout>
