---
import DemoLayout from "@/layouts/DemoLayout.astro";
import { Icon } from "astro-icon/components";
---

<DemoLayout>
  <div class="m-auto max-w-lg">
    <p class="relative inline-block pr-[1.5em]">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ducimus<span
        class="absolute ml-[.25em] inline-flex h-[1lh] items-center"
        ><Icon name="arrow-up-right" class="text-accent size-[1em]" /></span
      >
    </p>
  </div>
</DemoLayout>
