---
import DemoLayout from "@/layouts/DemoLayout.astro";
const tags = ["HTML", "CSS", "JavaScript"];
---

<DemoLayout>
  <p class="m-auto max-w-xl">
    {
      new Intl.ListFormat("en-US")
        .formatToParts(tags)
        .map(({ type, value }) => {
          if (type === "element") {
            return (
              // prettier-ignore
              <a href="" class="underline">{value}</a>
            );
          }
          return value;
        })
    }
  </p>
</DemoLayout>
