---
import DemoLayout from "@/layouts/DemoLayout.astro";
const tags = ["HTML", "CSS", "JavaScript"];
---

<DemoLayout>
  <p class="max-w-xl mx-auto">
    {
      new Intl.ListFormat("en-US")
        .formatToParts(tags)
        .map(({ type, value }) => {
          if (type === "element") {
            return (
              <a href="" class="underline">
                {value}
              </a>
            );
          }
          return value;
        })
    }
  </p>
</DemoLayout>
