---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import SectionBreak from "@/components/SectionBreak.astro";
import SectionLabel from "@/components/SectionLabel.astro";
import CollectionRoot from "@/components/Collection/Root.astro";
import CollectionItem from "@/components/Collection/Item.astro";
import Header from "@/components/Header.astro";

const slugs: CollectionEntry<"gear">["slug"][] = [
  "bellroy-mod-phone-case-wallet",
  "new-balance-990-shoes",
  "technivorm-moccamaster-coffee-maker",
  "tom-bihn-truck",
  "knipex-cobra-pliers",
  "wera-7-in-1-screwdriver",
];

const items = await getCollection("gear", (item) => {
  return slugs.includes(item.slug);
}).then((filteredItems) => {
  return filteredItems.sort((a, b) => {
    return slugs.indexOf(a.slug) - slugs.indexOf(b.slug);
  });
});
---

<BaseLayout
  title="Favorites"
  description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis aliquam architecto eaque."
>
  <Header>
    <SectionLabel as="p">Intro</SectionLabel>
    <h1 class="font-mono text-sm text-neutral-400">Favorites</h1>
    <p class="mt-2 text-xl font-medium tracking-tight text-balance sm:text-2xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis
      aliquam architecto eaque.
    </p>
  </Header>

  <SectionBreak />

  <section class="relative flex-1">
    <SectionLabel as="h2">Items</SectionLabel>

    <CollectionRoot>
      {
        items.map((item) => {
          return (
            <CollectionItem>
              <p class="mb-1 font-mono text-xs text-orange-300 uppercase">
                {item.data.eyebrow}
              </p>
              <h3 class="font-semibold tracking-tight">
                <a
                  href={item.data.link}
                  class:list={[
                    "group underline decoration-neutral-600 decoration-2 hover:decoration-white",
                    "before:absolute before:inset-0",
                  ]}
                >
                  {item.data.title}
                  <span
                    class="absolute mt-px ml-1 shrink-0 rounded-xs bg-neutral-800 p-0.5 text-neutral-400 group-hover:text-current"
                    aria-hidden="true"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="size-2.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <line x1="7" y1="17" x2="17" y2="7" />
                      <polyline points="7 7 17 7 17 17" />
                    </svg>
                  </span>
                </a>
              </h3>
              {/* <p class="mt-4 text-neutral-400">{item.data.description}</p> */}
            </CollectionItem>
          );
        })
      }
    </CollectionRoot>
  </section>
</BaseLayout>
