---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CollectionRoot from "@/components/Collection/Root.astro";
import CollectionItem from "@/components/Collection/Item.astro";
import SectionBreak from "@/components/SectionBreak.astro";
import SectionLabel from "@/components/SectionLabel.astro";
---

<BaseLayout
  title="Collections"
  description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis aliquam architecto eaque."
>
  <header
    class="relative bg-[image:radial-gradient(at_top_left,theme(colors.blue.500/30%),transparent_60%)] px-4 py-12 text-center sm:px-8 sm:py-16"
  >
    <SectionLabel as="p">Intro</SectionLabel>
    <h1 class="font-mono text-sm text-neutral-400">Collections</h1>
    <p class="mt-2 text-balance text-xl font-medium tracking-tight sm:text-2xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis
      aliquam architecto eaque.
    </p>
  </header>

  <SectionBreak />

  <section class="relative flex-1">
    <SectionLabel>Items</SectionLabel>

    <CollectionRoot>
      <CollectionItem>
        <h3 class="mb-1 font-mono text-xs uppercase text-orange-300">
          Everyday Carry
        </h3>
        <p class="font-semibold tracking-tight">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
          non?
        </p>
      </CollectionItem>
      <CollectionItem>
        <h3 class="mb-1 font-mono text-xs uppercase text-orange-300">
          Smart Home
        </h3>
        <p class="font-semibold tracking-tight">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
          non?
        </p>
      </CollectionItem>
    </CollectionRoot>
  </section>
</BaseLayout>
