@import "tailwindcss";

@variant dark (@media (prefers-color-scheme: dark));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-muted: --alpha(var(--color-foreground) / 65%);
  --color-accent: var(--accent);
}

:root {
  --background: var(--color-white);
  --foreground: var(--color-black);
  --accent: var(--color-blue-600);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background: var(--color-black);
    --foreground: var(--color-white);
    --accent: var(--color-blue-400);
  }
}
