@import "tailwindcss";

@variant dark (@media (prefers-color-scheme: dark));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: --alpha(var(--color-foreground) / 65%);
  --color-accent: var(--accent);
}

:root {
  --background: var(--color-white);
  --foreground: var(--color-black);
  --muted: var(--color-neutral-200);
  --accent: var(--color-blue-600);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background: var(--color-black);
    --foreground: var(--color-white);
    --muted: var(--color-neutral-800);
    --accent: var(--color-blue-400);
  }
}

@layer utilities {
  .background-grid {
    background-image: conic-gradient(
      from 90deg at 50% 50%,
      transparent 0deg 90deg,
      var(--color-muted) 90deg 180deg,
      transparent 180deg 270deg,
      var(--color-muted) 270deg 360deg
    );
    background-size: 8px 8px;
  }
}
