@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page: 255 255 255;
  --foreground-primary: 23 23 23;
  --foreground-secondary: 115 115 115;
  --border: 229 229 229;
  --shadow: 212 212 212;
  /*
   * International Orange (Aerospace)
   * see: https://en.wikipedia.org/wiki/International_orange#Aerospace
   */
  --highlight: 240 74 0;
}

.dark {
  --page: 23 23 23;
  --foreground-primary: 245 245 245;
  --foreground-secondary: 163 163 163;
  --border: 64 64 64;
  --shadow: 64 64 64;
  /*
   * International Orange (Golden Gate Bridge)
   * see: https://en.wikipedia.org/wiki/International_orange#Golden_Gate_Bridge
   */
  --highlight: 255 79 0;
}

@layer components {
  .prose {
    > * + * {
      @apply mt-3;
    }

    h2,
    h3 {
      @apply font-semibold;
    }

    a {
      @apply underline;
    }

    ul {
      @apply list-disc space-y-1 pl-6;
    }

    ul ul {
      @apply mt-1 list-circle;
    }

    ul ul ul {
      @apply mt-1 list-square;
    }

    table {
      @apply w-full;
    }

    table th {
      @apply border-b-2 py-1 pr-2 text-left font-semibold;
    }

    table td {
      @apply border-t border-dashed py-1 pr-2;
    }

    dl {
      @apply grid;
      grid-template-columns: max-content 1fr;
    }

    dt {
      @apply pr-6 text-secondary;
    }

    dt:first-of-type,
    dd:first-of-type {
      @apply pb-2;
    }

    & > dl:not(:first-child) dt:first-of-type,
    & > dl:not(:first-child) dd:first-of-type {
      @apply border-t pt-2;
    }

    dt:not(:first-of-type),
    dd:not(:first-of-type) {
      @apply border-t border-dashed py-2;
    }

    blockquote {
      @apply border-l-2 pl-3;
    }

    hr {
      @apply my-6 border-dashed;
    }

    strong {
      @apply font-semibold;
    }

    span {
      @apply text-secondary;
    }

    small {
      @apply block text-sm uppercase tracking-wider text-secondary;
    }

    kbd {
      @apply rounded-[0.25em] border-b-[0.125em] border-t border-b-black/10 border-t-white bg-gradient-to-b from-black/10 to-black/5 p-[0.15em] px-[0.3em] text-[0.9375em] [box-shadow:0_0_0_1px_rgba(0,0,0,0.25)] dark:border-t-0 dark:border-b-black/40 dark:from-white/10 dark:to-white/[15%] dark:[box-shadow:0_0_0_1px_rgba(255,255,255,0.15)];
    }

    mark {
      @apply px-0.5;
    }

    pre[data-language] {
      @apply overflow-x-auto whitespace-pre bg-neutral-100 py-2 text-sm dark:bg-neutral-800;
    }

    div[data-rehype-pretty-code-fragment] .syntax-line {
      @apply px-2;
    }

    /* Spacing */
    * + h2,
    * + h3,
    /**/
    *:not(h2):not(h3) + table,
    *:not(h2):not(h3) + dl,
    /**/
    * + .image-carousel,
    .image-carousel + * {
      @apply mt-6;
    }

    h2 + h3 {
      @apply mt-3;
    }

    small + h2,
    h2 + small {
      @apply mt-px;
    }

    /* Task list */
    .contains-task-list {
      @apply list-none pl-1;
    }

    .task-list-item {
      @apply relative pl-6;
    }

    .task-list-item input {
      @apply absolute left-0 top-1 h-4 w-4 appearance-none;
      background-color: rgb(var(--foreground-secondary));
      mask-size: contain;
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2lyY2xlIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCI+PC9jaXJjbGU+PC9zdmc+");
    }

    .task-list-item input[checked] {
      @apply bg-highlight;
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hlY2stY2lyY2xlIj48cGF0aCBkPSJNMjIgMTEuMDhWMTJhMTAgMTAgMCAxIDEtNS45My05LjE0Ij48L3BhdGg+PHBvbHlsaW5lIHBvaW50cz0iMjIgNCAxMiAxNC4wMSA5IDExLjAxIj48L3BvbHlsaW5lPjwvc3ZnPg==");
    }
  }
}

/* Code */
html.dark div[data-theme="light"],
html.dark pre[data-theme="light"],
html.dark code[data-theme="light"] {
  display: none;
}

html.light div[data-theme="dark"],
html.light pre[data-theme="dark"],
html.light code[data-theme="dark"] {
  display: none;
}
