---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="Page not found">
  <header class="relative px-4 py-12 text-center sm:px-8 sm:py-16">
    <!-- <SectionLabel as="p">Intro</SectionLabel> -->
    <h1 class="font-mono text-sm text-neutral-400">404</h1>
    <p class="mt-2 text-balance text-xl font-medium tracking-tight sm:text-2xl">
      Page not found
    </p>
  </header>
</BaseLayout>
