---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="Page not found">
  <header class="mt-16 container">
    <span
      class="block text-2xl font-medium tracking-tight max-w-[40ch] leading-tight"
    >
      <h1 class="inline">404</h1>
      <span class="text-foreground-muted"> page not found. </span>
    </span>
  </header>
</BaseLayout>
