---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="Page not found">
  <section class="mt-20 px-4">
    <div class="mx-auto max-w-prose">
      <h2 class="text-muted-foreground text-balance">
        <span class="text-foreground">404</span> Page not found.
      </h2>
    </div>
  </section>
</BaseLayout>
