---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="Page not found">
  <header class="container">
    <h1
      class="text-3xl font-medium tracking-tight text-pretty [text-box-trim:trim-start]"
    >
      404 <span class="text-muted-foreground">page not found.</span>
    </h1>
  </header>
</BaseLayout>
