---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="Page not found">
  <header class="pb-8 pt-40">
    <h1 class="font-semibold">404</h1>
    <p class="text-secondary mt-1">Page not found</p>
  </header>
</BaseLayout>
