---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="Page not found">
  <header class="container mt-16">
    <span
      class="block max-w-[40ch] text-2xl leading-tight font-medium tracking-tight"
    >
      <h1 class="inline">404</h1>
      <span class="text-muted-foreground">page not found.</span>
    </span>
  </header>
</BaseLayout>
