---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="Page not found">
  <header class="relative text-center py-12 sm:py-16 px-4 sm:px-8">
    <!-- <SectionLabel as="p">Intro</SectionLabel> -->
    <h1 class="text-sm text-neutral-400 font-mono">404</h1>
    <p class="mt-2 font-medium text-xl sm:text-2xl text-balance tracking-tight">
      Page not found
    </p>
  </header>
</BaseLayout>
