---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="pb-8 pt-40 border-b border-neutral-200">
    <h1 class="font-semibold">Curriculum Vitae</h1>
    <p class="mt-4">
      UI engineer who enjoys working at the intersection of design and
      engineering teams. Currently apart of the design team at Clerk.
    </p>
  </div>

  <div class="py-8"></div>
</BaseLayout>
