---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SectionLabel from "@/components/SectionLabel.astro";
---

<BaseLayout
  title="Everyday Carry"
  description="UI engineer who enjoys working at the intersection of design and engineering teams."
>
  <header class="relative text-center py-12 sm:py-16 px-4 sm:px-8">
    <h1 class="text-sm text-neutral-400 font-mono">Everyday Carry</h1>
    <p
      class="mt-2 mb-6 font-medium text-xl sm:text-2xl text-balance tracking-tight"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis
      aliquam architecto eaque.
    </p>
  </header>

  <div
    class="w-full h-6 opacity-75 [background-image:linear-gradient(45deg,theme(colors.neutral.700)_12.50%,transparent_12.50%,transparent_50%,theme(colors.neutral.700)_50%,theme(colors.neutral.700)_62.50%,transparent_62.50%,transparent_100%)] [background-size:4px_4px] border-y border-neutral-700"
    aria-hidden="true"
  >
  </div>

  <section class="relative">
    <div class="divide-y divide-neutral-700 divide-dashed">
      <article class="px-4 py-8 sm:px-8">
        <div class="prose">
          <small>Knife</small>
          <h2><a href="">Benchmade Mini Bugout</a></h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
            officiis aliquam architecto eaque.
          </p>
        </div>
      </article>
      <article class="px-4 py-8 sm:px-8">
        <div class="prose">
          <small>Flashlight</small>
          <h2>Tactile Turn Apollo</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
            officiis aliquam architecto eaque.
          </p>
        </div>
      </article>
      <article class="px-4 py-8 sm:px-8">
        <div class="prose">
          <small>Keychain</small>
          <h2>The James Brand Midland</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
            officiis aliquam architecto eaque.
          </p>
        </div>
      </article>
      <article class="px-4 py-8 sm:px-8">
        <div class="prose">
          <small>Watch</small>
          <h2>Doxa Sub 200T</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
            officiis aliquam architecto eaque.
          </p>
        </div>
      </article>
      <article class="px-4 py-8 sm:px-8">
        <div class="prose">
          <small>Multitool</small>
          <h2>Leatherman Style PS</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
            officiis aliquam architecto eaque.
          </p>
        </div>
      </article>
      <article class="px-4 py-8 sm:px-8">
        <div class="prose">
          <small>First Aid Kit</small>
          <h2>aLOKSAK 3x6in Pouch</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
            officiis aliquam architecto eaque.
          </p>
        </div>
      </article>
    </div>
  </section>
</BaseLayout>
