---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <header class="pb-8 pt-40 border-b border-neutral-200">
    <h1 class="font-semibold">Favorites</h1>
    <p class="text-neutral-500">My favorite products, tools and gear.</p>
  </header>

  <section class="py-8">
    <div class="relative grid grid-cols-3 items-start gap-x-8">
      <article class="col-span-2 prose">
        <h2>Baby</h2>
        <ul>
          <li>BabyBjörn Bouncer</li>
          <li>Baby Jogger city mini GT2 stroller</li>
          <li>Halo Sleepsack Swaddle</li>
          <li>OXO Tot Space Saving Drying Rack</li>
        </ul>
        <h2>Baby</h2>
        <ul>
          <li>BabyBjörn Bouncer</li>
          <li>Baby Jogger city mini GT2 stroller</li>
          <li>Halo Sleepsack Swaddle</li>
          <li>OXO Tot Space Saving Drying Rack</li>
        </ul>
        <h2>Baby</h2>
        <ul>
          <li>BabyBjörn Bouncer</li>
          <li>Baby Jogger city mini GT2 stroller</li>
          <li>Halo Sleepsack Swaddle</li>
          <li>OXO Tot Space Saving Drying Rack</li>
        </ul>
        <h2>Baby</h2>
        <ul>
          <li>BabyBjörn Bouncer</li>
          <li>Baby Jogger city mini GT2 stroller</li>
          <li>Halo Sleepsack Swaddle</li>
          <li>OXO Tot Space Saving Drying Rack</li>
        </ul>
        <h2>Baby</h2>
        <ul>
          <li>BabyBjörn Bouncer</li>
          <li>Baby Jogger city mini GT2 stroller</li>
          <li>Halo Sleepsack Swaddle</li>
          <li>OXO Tot Space Saving Drying Rack</li>
        </ul>
        <h2>Baby</h2>
        <ul>
          <li>BabyBjörn Bouncer</li>
          <li>Baby Jogger city mini GT2 stroller</li>
          <li>Halo Sleepsack Swaddle</li>
          <li>OXO Tot Space Saving Drying Rack</li>
        </ul>
        <h2>Baby</h2>
        <ul>
          <li>BabyBjörn Bouncer</li>
          <li>Baby Jogger city mini GT2 stroller</li>
          <li>Halo Sleepsack Swaddle</li>
          <li>OXO Tot Space Saving Drying Rack</li>
        </ul>
        <h2>Baby</h2>
        <ul>
          <li>BabyBjörn Bouncer</li>
          <li>Baby Jogger city mini GT2 stroller</li>
          <li>Halo Sleepsack Swaddle</li>
          <li>OXO Tot Space Saving Drying Rack</li>
        </ul>
        <h2>Baby</h2>
        <ul>
          <li>BabyBjörn Bouncer</li>
          <li>Baby Jogger city mini GT2 stroller</li>
          <li>Halo Sleepsack Swaddle</li>
          <li>OXO Tot Space Saving Drying Rack</li>
        </ul>
        <h2>Baby</h2>
        <ul>
          <li>BabyBjörn Bouncer</li>
          <li>Baby Jogger city mini GT2 stroller</li>
          <li>Halo Sleepsack Swaddle</li>
          <li>OXO Tot Space Saving Drying Rack</li>
        </ul>
        <h2>Baby</h2>
        <ul>
          <li>BabyBjörn Bouncer</li>
          <li>Baby Jogger city mini GT2 stroller</li>
          <li>Halo Sleepsack Swaddle</li>
          <li>OXO Tot Space Saving Drying Rack</li>
        </ul>
      </article>

      <nav class="sticky top-0">
        <h2 class="opacity-0">Table of contents</h2>
        <ul class="mt-4 border-l border-neutral-200 pl-4 border-dashed">
          <li><a href="">Baby</a></li>
          <li><a href="">Baby</a></li>
          <li><a href="">Baby</a></li>
          <li><a href="">Baby</a></li>
        </ul>
      </nav>
    </div>
  </section>
</BaseLayout>
