---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <header class="relative text-center py-20 px-8 border-b border-neutral-700">
    <p
      class="hidden pl-4 absolute left-0 justify-center inset-y-8 -translate-x-full md:flex items-center [writing-mode:vertical-lr] rotate-180"
    >
      <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
      <span
        class="relative w-px h-full flex-1 border-l border-neutral-800 border-dashed"
        aria-hidden="true"></span>
      <span
        class="py-4 font-mono uppercase text-neutral-700 text-xxs leading-none"
        >Intro</span
      >
      <span
        class="w-px h-full flex-1 border-l border-neutral-800 border-dashed"
        aria-hidden="true"></span>
      <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
    </p>
    <h1 class="font-medium text-2xl text-balance tracking-tight">Feed</h1>
  </header>
</BaseLayout>
