---
import { highlight } from "sugar-high";
import { SITE_VERSION } from "@/consts";
import BaseLayout from "@/layouts/BaseLayout.astro";
const commitSha = import.meta.env.PUBLIC_VERCEL_GIT_COMMIT_SHA || "";
const code = `import * as SignIn from '@clerk/elements/sign-in'

export default function SignInPage() {
  return (
    <SignIn.Root>
      <SignIn.Step name="start">
        <h1>Sign in to your account</h1>
      </SignIn.Step>
    </SignIn.Root>
  )
}`;
const codeHTML = highlight(code);
---

<BaseLayout>
  <div
    class="max-w-3xl mx-auto border-x border-neutral-700 flex flex-col flex-1"
  >
    <nav class="border-b border-neutral-700">
      <svg
        width="100%"
        height="24px"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        class="text-neutral-700"
        ><defs
          ><pattern
            id="pattern-75"
            patternUnits="userSpaceOnUse"
            width="4"
            height="4"
            ><g clip-path="url(#clip0)"
              ><path d="M1 -1L5 3" stroke="currentColor" stroke-width="0.5"
              ></path><path
                d="M-1 1L3 5"
                stroke="currentColor"
                stroke-width="0.5"></path></g
            ></pattern
          ><clipPath id="clip0"
            ><rect width="4" height="4" fill="white"></rect></clipPath
          ></defs
        ><rect x="0" y="0" width="100%" height="100%" fill="url(#pattern-75)"
        ></rect></svg
      >
      <div class="flex justify-between items-center px-8 py-4">
        <ul class="flex gap-4">
          <li>
            <a
              class="text-xs text-neutral-400 hover:text-white aria-[current]:text-white font-mono uppercase"
              href="/"
              aria-current="page">~/Index</a
            >
          </li>
          <li>
            <a
              class="text-xs text-neutral-400 hover:text-white font-mono uppercase"
              href="/">Feed</a
            >
          </li>
          <li>
            <a
              class="text-xs text-neutral-400 hover:text-white font-mono uppercase"
              href="/">Resume</a
            >
          </li>
        </ul>

        <a
          class="text-xxs font-mono border border-green-300 px-2 py-0.5 bg-green-950 text-green-300 rounded-full"
          href="https://github.com/alexcarpenter/alexcarpenter.me"
        >
          v{SITE_VERSION}
        </a>
      </div>
    </nav>
    <header class="relative text-center py-20 px-8 border-b border-neutral-700">
      <p
        class="pl-4 absolute left-0 justify-center inset-y-8 -translate-x-full flex items-center [writing-mode:vertical-lr] rotate-180"
      >
        <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
        <span
          class="relative w-px h-full flex-1 border-l border-neutral-800 border-dashed"
          aria-hidden="true"></span>
        <span
          class="py-4 font-mono uppercase text-neutral-700 text-xxs leading-none"
          >Intro</span
        >
        <span
          class="w-px h-full flex-1 border-l border-neutral-800 border-dashed"
          aria-hidden="true"></span>
        <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
      </p>
      <h1 class="sr-only">Alex Carpenter</h1>
      <p class="font-medium text-2xl text-balance tracking-tight">
        User Interface Engineer who enjoys working at the intersection of design
        and engineering teams.
      </p>
    </header>

    <section class="relative grid grid-cols-2 border-b border-neutral-700">
      <p
        class="pl-4 absolute left-0 justify-center inset-y-8 -translate-x-full flex items-center [writing-mode:vertical-lr] rotate-180"
      >
        <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
        <span
          class="relative w-px h-full flex-1 border-l border-neutral-800 border-dashed"
          aria-hidden="true"></span>
        <span
          class="py-4 font-mono uppercase text-neutral-700 text-xxs leading-none"
          >Currently</span
        >
        <span
          class="w-px h-full flex-1 border-l border-neutral-800 border-dashed"
          aria-hidden="true"></span>
        <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
      </p>
      <header
        class="relative overflow-hidden col-span-2 border-b p-8 border-dashed border-neutral-700"
      >
        <p class="text-balance font-medium">
          Currently I am a part of the design team at <a
            href="https://clerk.com"
            class="underline decoration-2 decoration-neutral-600 hover:decoration-white"
            >Clerk</a
          > where I am working on rebuilding our <a
            href="https://clerk.com/docs/components/overview"
            class="underline decoration-2 decoration-neutral-600 hover:decoration-white"
            >UI Components</a
          > and <a
            href="https://clerk.com/docs/elements/overview"
            class="underline decoration-2 decoration-neutral-600 hover:decoration-white"
            >Elements</a
          >.
        </p>
      </header>
      <div class="border-r border-dashed border-neutral-700">
        <pre
          class="py-4 text-sm leading-6 overflow-auto overscroll-x-contain"><code class="isolate block w-fit min-w-full [counter-reset:line] *:inline-block *:w-full *:[counter-increment:line] *:before:pointer-events-none *:before:sticky *:before:left-0 *:before:z-20 *:before:inline-block *:before:w-11 *:before:select-none *:before:bg-gradient-to-r *:before:from-neutral-950 *:before:from-80% *:before:pr-4 *:before:text-right *:before:text-neutral-600 *:before:content-[counter(line)] *:after:pointer-events-none *:after:sticky *:after:right-0 *:after:z-10 *:after:inline-block *:after:w-6 *:after:select-none *:after:bg-gradient-to-l *:after:from-neutral-950 *:after:from-35% *:after:content-['_']"><Fragment set:html={codeHTML} /></code></pre>
      </div>
      <div class="relative">
        <svg
          class="absolute inset-0 text-neutral-700"
          width="100%"
          height="100%"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          ><defs
            ><pattern
              id="pattern-0"
              patternUnits="userSpaceOnUse"
              width="4"
              height="4"
              ><g clip-path="url(#clip0)"
                ><path d="M1 -1L5 3" stroke="currentColor" stroke-width="0.5"
                ></path><path
                  d="M-1 1L3 5"
                  stroke="currentColor"
                  stroke-width="0.5"></path></g
              ></pattern
            ><clipPath id="clip0"
              ><rect width="4" height="4" fill="white"></rect></clipPath
            ></defs
          ><rect x="0" y="0" width="100%" height="100%" fill="url(#pattern-0)"
          ></rect></svg
        >
      </div>
      <div
        class="col-span-2 py-8 text-center border-t border-neutral-700 border-dashed"
      >
        <p class="text-xs font-mono uppercase text-neutral-400">
          In collaboration with
        </p>
        <div class="flex justify-center mt-4">
          <img
            class="size-8 rounded-full grayscale hover:grayscale-0"
            src="/img/joe-bell.jpeg"
            alt=""
          />
          <img
            class="size-8 rounded-full -ml-0.5 ring-4 ring-neutral-950 grayscale hover:grayscale-0"
            src="/img/bryce-kalow.jpeg"
            alt=""
          />
          <img
            class="size-8 rounded-full -ml-0.5 ring-4 ring-neutral-950 grayscale hover:grayscale-0"
            src="/img/tom-milewski.jpeg"
            alt=""
          />
          <img
            class="size-8 rounded-full -ml-0.5 ring-4 ring-neutral-950 grayscale hover:grayscale-0"
            src="/img/dylan-staley.jpeg"
            alt=""
          />
        </div>
      </div>
    </section>
  </div>
</BaseLayout>
