---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Code from "@/components/index/code.astro";
import Card from "@/components/index/card.astro";
import Collaboration from "@/components/index/collaboration.astro";
---

<BaseLayout>
  <header
    class="relative text-center py-10 sm:py-20 px-4 sm:px-8 border-b border-neutral-700"
  >
    <p
      class="hidden md:flex pl-4 absolute left-0 justify-center inset-y-8 -translate-x-full items-center [writing-mode:vertical-lr] rotate-180"
    >
      <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
      <span
        class="relative w-px h-full flex-1 border-l border-neutral-800 border-dashed"
        aria-hidden="true"></span>
      <span
        class="py-4 font-mono uppercase text-neutral-700 text-xxs leading-none"
        >Intro</span
      >
      <span
        class="w-px h-full flex-1 border-l border-neutral-800 border-dashed"
        aria-hidden="true"></span>
      <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
    </p>
    <h1 class="sr-only">Alex Carpenter</h1>
    <p class="font-medium text-xl sm:text-2xl text-balance tracking-tight">
      User Interface Engineer who enjoys working at the intersection of design
      and engineering teams.
    </p>
  </header>

  <section class="relative border-b border-neutral-700">
    <p
      class="hidden md:flex pl-4 absolute left-0 justify-center inset-y-8 -translate-x-full items-center [writing-mode:vertical-lr] rotate-180"
    >
      <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
      <span
        class="relative w-px h-full flex-1 border-l border-neutral-800 border-dashed"
        aria-hidden="true"></span>
      <span
        class="py-4 font-mono uppercase text-neutral-700 text-xxs leading-none"
        >Currently</span
      >
      <span
        class="w-px h-full flex-1 border-l border-neutral-800 border-dashed"
        aria-hidden="true"></span>
      <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
    </p>
    <header class="relative p-4 sm:p-8">
      <p class="text-balance font-medium">
        Currently I am a part of the design team at <a
          href="https://clerk.com"
          class="underline decoration-2 decoration-neutral-600 hover:decoration-white"
          >Clerk</a
        > where I am working on rebuilding our <a
          href="https://clerk.com/docs/components/overview"
          class="underline decoration-2 decoration-neutral-600 hover:decoration-white"
          >UI Components</a
        > and <a
          href="https://clerk.com/docs/elements/overview"
          class="underline decoration-2 decoration-neutral-600 hover:decoration-white"
          >Elements</a
        >.
      </p>
    </header>
    <div
      class="border-y border-neutral-700 border-dashed grid grid-cols-1 sm:grid-cols-2 auto-rows-[20rem]"
    >
      <div class="sm:border-r border-dashed border-neutral-700 overflow-hidden">
        <Code />
      </div>
      <div class="max-sm:border-t border-dashed border-neutral-700">
        <Card />
      </div>
    </div>
    <div class="p-4 sm:p-8 text-center">
      <Collaboration />
    </div>
  </section>
</BaseLayout>
