---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="pb-8 pt-40 space-y-4">
    <p class="font-semibold">Welcome</p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus cum
      quo sint libero consectetur accusamus eligendi similique, tempore nobis
      voluptate, molestias nisi maxime alias animi saepe? Ipsa suscipit in ab.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus cum
      quo sint libero consectetur accusamus eligendi similique, tempore nobis
      voluptate, molestias nisi maxime alias animi saepe? Ipsa suscipit in ab.
    </p>
  </section>
</BaseLayout>
