---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getEntry } from "astro:content";
const homepage = await getEntry("documents", "homepage");
const { Content } = await homepage.render();
---

<BaseLayout>
  <h1 class="sr-only">Homepage</h1>
  <section class="py-40">
    <div class="prose">
      <Content />
    </div>
  </section>
</BaseLayout>
