---
import BaseLayout from "@/layouts/BaseLayout.astro";
const commitSha = import.meta.env.PUBLIC_VERCEL_GIT_COMMIT_SHA || "";
---

<BaseLayout>
  <h1 class="sr-only">Homepage</h1>
  <section class="prose py-40">
    <dl>
      <dt>Name</dt>
      <dd>Alex Carpenter</dd>
      <dt>Location</dt>
      <dd>Grand Rapids, MI.</dd>
      <dt>Work</dt>
      <dd>
        UI Engineer at <a href="https://clerk.com">Clerk</a>, previously <a
          href="https://watershed.com">Watershed</a
        >, <a href="https://hashicorp.com">HashiCorp</a>
      </dd>
      <dt>Colophon</dt>
      <dd>Astro, TailwindCSS, Geist Sans/Mono</dd>
      <dt>Carbon footprint</dt>
      <dd>
        <a
          href="https://www.websitecarbon.com/website/alexcarpenter-me/"
          target="_blank"
          rel="noopener"><code>0.03 g of CO²</code></a
        >
      </dd>
      <dt>Version</dt>
      <dd><code>4.0.0-alpha</code></dd>
      <dt>View source</dt>
      <dd>
        <a
          href="https://github.com/alexcarpenter/alexcarpenter.me"
          target="_blank"
          rel="noopener">alexcarpenter/alexcarpenter.me</a
        >
      </dd>
      {
        commitSha && (
          <>
            <dt>Latest commit</dt>
            <dd>
              <a
                href={`https://github.com/alexcarpenter/alexcarpenter.me/commit/${commitSha}`}
                target="_blank"
                rel="noopener"
              >
                <code>{commitSha.slice(0, 7)}</code>
              </a>
            </dd>
          </>
        )
      }
    </dl>
  </section>
</BaseLayout>
