---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="pb-8 pt-40">
    <div class="prose">
      <p class="font-semibold">Welcome</p>
      <p>TODO</p>
    </div>
  </section>
</BaseLayout>
