---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="pb-8 pt-40">
    <div class="prose">
      <p class="font-semibold">Welcome</p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo soluta
        nisi ea quisquam natus reprehenderit non, ut iusto laborum iure facere
        vel porro laudantium nostrum distinctio asperiores sint eveniet?
        Dignissimos?
      </p>
    </div>
  </section>
</BaseLayout>
