---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="pb-8 pt-40 border-b border-neutral-200">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus cum
      quo sint libero consectetur accusamus eligendi similique, tempore nobis
      voluptate, molestias nisi maxime alias animi saepe? Ipsa suscipit in ab.
    </p>
    <p class="mt-4">
      <a href="/cv" class="font-semibold">View experience</a>
    </p>
  </div>
</BaseLayout>
