---
import BaseLayout from "@/layouts/BaseLayout.astro";
import FormattedDate, {
  parseDateToString,
} from "@/components/FormattedDate.astro";
import { getCollection, type CollectionEntry } from "astro:content";
type LinkProps = CollectionEntry<"links">;
const links = await getCollection("links");
const sortedSinks = links.sort((a, b) => {
  const aDate = a.data.published;
  const bDate = b.data.published;
  return Date.parse(bDate.toString()) - Date.parse(aDate.toString());
});
const groupedLinks = groupByDay(sortedSinks);
function groupByDay(items: LinkProps[]): Record<string, LinkProps[]> {
  const grouped: Record<string, LinkProps[]> = {};
  items.forEach((item) => {
    const key = parseDateToString(item.data.published.toString());
    if (!grouped[key]) {
      grouped[key] = [];
    }
    grouped[key].push(item);
  });
  return grouped;
}
---

<BaseLayout title="Links" description="Archive of interesting links">
  <header class="pb-8 pt-40 border-b border-primary">
    <h1 class="font-semibold">Links&nbsp;&not;</h1>
    <p class="text-secondary text-pretty mt-0.5">
      Archive of interesting links.
    </p>
  </header>
  <section class="pt-8 pb-16">
    <dl class="grid grid-cols-[max-content_minmax(0,1fr)] -my-8">
      {
        Object.entries(groupedLinks).map(([date, links]) => {
          return (
            <>
              <dt
                id={date}
                class="pr-8 py-8 [&:not(:first-of-type)]:border-t [&:not(:first-of-type)]:border-primary [&:not(:first-of-type)]:border-dashed"
              >
                <FormattedDate
                  date={new Date(date)}
                  class="text-secondary tabular-nums"
                />
              </dt>
              {links.map((link) =>
                link.render().then(({ Content }) => (
                  <dd
                    id={link.slug}
                    class="py-8 col-start-2 [&:not(:first-of-type)]:border-t [&:not(:first-of-type)]:border-primary [&:not(:first-of-type)]:border-dashed"
                  >
                    <h2 class="font-semibold">
                      <a
                        href={link.data.link}
                        class="underline decoration-subtle hover:decoration-green-500 decoration-[0.09375rem]"
                        target="_blank"
                        rel="noopener"
                      >
                        {link.data.title}
                      </a>
                    </h2>
                    <p class="mt-0.5 text-sm text-secondary font-mono">
                      {new URL(link.data.link).hostname}
                    </p>
                    {link.body && (
                      <div class="mt-4 prose">
                        <Content />
                      </div>
                    )}
                  </dd>
                ))
              )}
            </>
          );
        })
      }
    </dl>
  </section>
</BaseLayout>
