---
import BaseLayout from "@/layouts/BaseLayout.astro";
import FormattedDate, {
  parseDateToString,
} from "@/components/FormattedDate.astro";
import { getCollection, type CollectionEntry } from "astro:content";
type NoteProps = CollectionEntry<"notes">;
const notes = await getCollection("notes", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
const sortedNotes = notes.sort((a, b) => {
  const aDate = a.data.published;
  const bDate = b.data.published;
  return Date.parse(bDate.toString()) - Date.parse(aDate.toString());
});
const groupedNotes = groupByDay(sortedNotes);
function groupByDay(items: NoteProps[]): Record<string, NoteProps[]> {
  const grouped: Record<string, NoteProps[]> = {};
  items.forEach((item) => {
    const key = parseDateToString(item.data.published.toString());
    if (!grouped[key]) {
      grouped[key] = [];
    }
    grouped[key].push(item);
  });
  return grouped;
}
---

<BaseLayout title="Notes" description="Short-form thoughts and updates">
  <header class="pb-8 pt-40 border-b border-primary">
    <h1 class="font-semibold">Notes&nbsp;&not;</h1>
    <p class="text-secondary text-pretty mt-1">
      Short-form thoughts and updates.
    </p>
  </header>
  <section class="pt-8 pb-16">
    <dl class="grid grid-cols-[max-content_minmax(0,1fr)] -my-8">
      {
        Object.entries(groupedNotes).map(([date, notes]) => {
          return (
            <>
              <dt
                id={date}
                class="pr-8 py-8 [&:not(:first-of-type)]:border-t [&:not(:first-of-type)]:border-primary [&:not(:first-of-type)]:border-dashed"
              >
                <FormattedDate
                  date={new Date(date)}
                  class="text-secondary tabular-nums"
                />
              </dt>
              {notes.map((note) =>
                note.render().then(({ Content }) => (
                  <dd
                    id={note.slug}
                    class="py-8 col-start-2 [&:not(:first-of-type)]:border-t [&:not(:first-of-type)]:border-primary [&:not(:first-of-type)]:border-dashed"
                  >
                    <div class="prose">
                      <Content />
                    </div>
                  </dd>
                ))
              )}
            </>
          );
        })
      }
    </dl>
  </section>
</BaseLayout>
