---
import BaseLayout from "@/layouts/BaseLayout.astro";
import FormattedDate, {
  parseDateToString,
} from "@/components/FormattedDate.astro";
import { getCollection, type CollectionEntry } from "astro:content";
type NoteProps = CollectionEntry<"notes">;
const notes = await getCollection("notes");
const sortedNotes = notes.sort((a, b) => {
  const aDate = a.data.published;
  const bDate = b.data.published;
  return Date.parse(bDate.toString()) - Date.parse(aDate.toString());
});
const groupedNotes = groupByDay(sortedNotes);
function groupByDay(items: NoteProps[]): Record<string, NoteProps[]> {
  const grouped: Record<string, NoteProps[]> = {};
  items.forEach((item) => {
    const key = parseDateToString(item.data.published.toString());
    if (!grouped[key]) {
      grouped[key] = [];
    }
    grouped[key].push(item);
  });
  return grouped;
}
---

<BaseLayout title="Notes" description="Short-form thoughts and updates">
  <header class="pb-8 pt-40 border-b border-neutral-200">
    <h1 class="font-semibold">Notes</h1>
    <p class="text-neutral-500 text-pretty">Short-form thoughts and updates</p>
  </header>
  <section class="py-8">
    <dl>
      {
        Object.entries(groupedNotes).map(([date, notes]) => {
          return (
            <>
              <dt id={date}>
                <FormattedDate
                  date={new Date(date)}
                  class="text-neutral-500 tabular-nums"
                />
              </dt>
              {notes.map((note) =>
                note.render().then(({ Content }) => (
                  <dd id={note.slug}>
                    <div class="prose">
                      <Content />
                    </div>
                  </dd>
                ))
              )}
            </>
          );
        })
      }
    </dl>
  </section>
</BaseLayout>
