---
import Header from "@/components/Header.astro";
import SectionBreak from "@/components/SectionBreak.astro";
import SectionLabel from "@/components/SectionLabel.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Now"
  description="UI engineer who enjoys working at the intersection of design and engineering teams."
>
  <Header>
    <SectionLabel as="p">Intro</SectionLabel>
    <h1 class="font-mono text-sm text-neutral-400">Now</h1>
    <p class="mt-2 text-balance text-xl font-medium tracking-tight sm:text-2xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis
      aliquam architecto eaque.
    </p>
  </Header>

  <SectionBreak />

  <section class="relative">
    <SectionLabel as="h2">Latest</SectionLabel>

    <div class="px-4 py-8 sm:px-8">
      <div class="prose">...</div>
    </div>
  </section>
</BaseLayout>
