---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
// import { getCollection } from "astro:content";
// const photos = await getCollection("photos");
// const sortedPhotos = photos.sort((a, b) => {
//   const aDate = a.data.published;
//   const bDate = b.data.published;
//   return Date.parse(bDate.toString()) - Date.parse(aDate.toString());
// });
---

<BaseLayout
  title="Photos"
  description="Shot with Fujifilm XE-4 and iPhone 15 Pro"
>
  <header class="pb-8 pt-40 border-b border-primary">
    <h1 class="font-semibold">Photos&nbsp;&not;</h1>
    <p class="mt-0.5 text-secondary text-pretty">
      Shots taken with Fujifilm XE-4 or iPhone 15 Pro.
    </p>
  </header>
  <section class="pt-8 pb-16">
    <ul class="divide-y divide-primary divide-dashed -my-8">
      <li class="py-8">
        <figure>
          <div class="aspect-[3/2] relative overflow-hidden">
            <Image
              src="/img/frankie.webp"
              alt="Frankie laying on the couch"
              width="800"
              height="600"
              class="absolute object-cover object-center w-full h-full"
            />
          </div>
          <figcaption class="mt-4">
            <dl
              class="grid grid-cols-2 sm:grid-cols-3 gap-x-8 font-mono text-sm"
            >
              <dt class="col-start-1 text-secondary">Shutter speed</dt>
              <dd class="col-start-2">1/250</dd>
              <dt class="col-start-1 text-secondary">F-stop</dt>
              <dd class="col-start-2">f1.8</dd>
              <dt class="col-start-1 text-secondary">ISO</dt>
              <dd class="col-start-2">200</dd>
              <dt class="col-start-1 text-secondary">Film simulation</dt>
              <dd class="col-start-2">Clasic Chrome</dd>
            </dl>
          </figcaption>
        </figure>
      </li>
    </ul>
  </section>
</BaseLayout>
