---
import type { HTMLAttributes } from "astro/types";
import Markdown from "@/components/Markdown.astro";

interface Props extends HTMLAttributes<"div"> {
  items: Array<{
    date?: Date;
    description?: string;
  }>;
}

const { items, ...attrs } = Astro.props;
const { class: className, ...restAttrs } = attrs;
---

<ul {...restAttrs} class:list={["space-y-4", className]}>
  {
    items.map((entry) => (
      <li class="grid grid-cols-1 sm:grid-cols-[25%_1fr] gap-x-8">
        <time class="text-foreground-muted" datetime={entry.date.toISOString()}>
          {new Date(entry.date).toLocaleDateString("en-US", {
            year: "numeric",
            month: "short",
            day: "2-digit",
          })}
        </time>
        <Markdown content={entry.description} />
      </li>
    ))
  }
</ul>
