---
import { Icon } from "astro-icon/components";
const { href, text } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="relative inline pr-5 underline decoration-[0.09375rem] decoration-underline"
  >{text}<Icon
    name="arrow-up-right"
    class="absolute inline-block shrink-0 w-4 h-[0.85lh] ml-1 text-foreground-muted"
    aria-hidden="true"
  />
</a>
