---
import { Icon } from "astro-icon/components";
const { href, text } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="decoration-underline relative inline-block pr-5 underline decoration-[0.09375rem]"
  >{text}<Icon
    name="arrow-up-right"
    class="text-muted-foreground absolute ml-1 inline-block h-[0.85lh] w-4 shrink-0"
    aria-hidden="true"
  />
</a>
