---
import { Image } from "astro:assets";

interface Props {
  class?: string;
  people: {
    name: string;
    img: Promise<typeof import("*.jpeg")> | Promise<typeof import("*.jpg")>;
    linkedin?: string;
  }[];
}

const { class: className, people } = Astro.props;
---

<ul class:list={["flex -space-x-1", className]}>
  {
    people.map((person, index) => (
      <li>
        <Image
          src={person.img}
          width={64}
          height={64}
          alt={person.name}
          class:list={[
            "rounded-full size-8",
            index !== 0 &&
              "[mask-image:radial-gradient(20px_at_-14px_50%,transparent_99%,white_100%)]",
          ]}
        />
      </li>
    ))
  }
</ul>
