---
interface Props {
  class?: string;
  items: string[];
}

const { class: className, items } = Astro.props;
---

{
  items ? (
    <div class:list={["flex", className]}>
      {items.map((item, index) => {
        return (
          <img
            src={item}
            alt="Avatar"
            class:list={[
              "size-8 rounded-full ring-2 ring-white dark:ring-neutral-950",
              {
                "-ml-1": index > 0,
              },
            ]}
          />
        );
      })}
    </div>
  ) : null
}
