---
import { Image } from "astro:assets";
interface Props {
  images: Array<{
    src: string;
    alt: string;
  }>;
}
const { images } = Astro.props;
---

<div class="embla">
  <div class="embla__viewport overflow-hidden">
    <div class="embla__container flex gap-x-2">
      {
        images.map(({ src, alt }) => {
          return (
            <div class="embla__slide min-w-0 flex-[0_0_100%] aspect-3/2 overflow-hidden">
              <Image
                src={src}
                alt={alt}
                width="960"
                height="640"
                class="absolute w-full h-full object-cover"
              />
            </div>
          );
        })
      }
    </div>
  </div>
  <div class="flex justify-center gap-x-4 mt-2">
    <button
      class="embla__prev disabled:text-secondary text-sm uppercase tracking-wide"
      >Prev</button
    >
    <button
      class="embla__next disabled:text-secondary text-sm uppercase tracking-wide"
      >Next</button
    >
  </div>
</div>

<script>
  import EmblaCarousel, { type EmblaOptionsType } from "embla-carousel";
  const rootNode = document.querySelector(".embla");
  const viewportNode = rootNode?.querySelector(".embla__viewport");
  const prevButtonNode = rootNode?.querySelector(".embla__prev");
  const nextButtonNode = rootNode?.querySelector(".embla__next");
  const options: EmblaOptionsType = { loop: false };
  const emblaApi = EmblaCarousel(viewportNode as HTMLElement, options);
  const scrollPrev = () => {
    emblaApi.scrollPrev();
  };
  const scrollNext = () => {
    emblaApi.scrollNext();
  };
  (prevButtonNode as HTMLElement).addEventListener("click", scrollPrev, false);
  (nextButtonNode as HTMLElement).addEventListener("click", scrollNext, false);
  const togglePrevNextBtnsState = () => {
    if (emblaApi.canScrollPrev()) {
      prevButtonNode?.removeAttribute("disabled");
    } else {
      prevButtonNode?.setAttribute("disabled", "disabled");
    }
    if (emblaApi.canScrollNext()) {
      nextButtonNode?.removeAttribute("disabled");
    } else {
      nextButtonNode?.setAttribute("disabled", "disabled");
    }
  };
  emblaApi
    .on("select", togglePrevNextBtnsState)
    .on("init", togglePrevNextBtnsState)
    .on("reInit", togglePrevNextBtnsState);
</script>
