---
import { Icon } from "astro-icon/components";

type Props = {
  src: string;
  title?: string;
  class?: string;
  aspectRatio?: "16:9" | "4:3" | "1:1";
};

const { src, title, class: className, aspectRatio = "16:9" } = Astro.props;
---

<div
  class:list={[
    "border-separator background-grid group/preview relative overflow-hidden rounded-md border",
    aspectRatio === "16:9" && "aspect-video",
    aspectRatio === "4:3" && "aspect-[4/3]",
    aspectRatio === "1:1" && "aspect-square",
    className,
  ]}
>
  <a
    href={src}
    target="_blank"
    class:list={[
      "text-muted-foreground absolute top-0 right-0 grid size-8 place-content-center",
      "hover:text-foreground opacity-0 transition-[opacity,color] group-hover/preview:opacity-100 focus:opacity-100",
    ]}
  >
    <span class="sr-only">Open demo in a new tab</span>
    <Icon name="expand" class="size-3" aria-hidden="true" />
  </a>
  <div class="h-full max-w-full min-w-80 resize-x overflow-x-auto">
    <iframe
      src={src}
      class="h-full w-full"
      title={title || "Demo"}
      loading="lazy"></iframe>
  </div>
</div>
