---
type Props = {
  src: string;
  title?: string;
  class?: string;
  aspectRatio?: "16:9" | "4:3" | "1:1";
};

const { src, title, class: className, aspectRatio = "16:9" } = Astro.props;
---

<div
  class:list={[
    "border border-separator rounded-md background-grid overflow-hidden",
    aspectRatio === "16:9" && "aspect-video",
    aspectRatio === "4:3" && "aspect-[4/3]",
    aspectRatio === "1:1" && "aspect-square",
    className,
  ]}
>
  <div class="overflow-x-auto resize-x max-w-full min-w-80 h-full">
    <iframe
      src={src}
      class="w-full h-full"
      title={title || "Demo"}
      loading="lazy"></iframe>
  </div>
</div>
