---
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }>;

const { as: Tag, class: className, ...props } = Astro.props;
---

<Tag
    {...props}
    class:list={[
        "absolute inset-y-8 left-0 flex -translate-x-full flex-col items-center justify-center pr-4 max-md:sr-only",
        className,
    ]}
>
    <span class="h-px w-2 bg-neutral-700" aria-hidden="true"></span>
    <span
        class="w-px flex-1 border-r border-dashed border-neutral-700"
        aria-hidden="true"></span>
    <span
        class="text-xxs rotate-180 px-4 font-mono leading-none tracking-widest text-neutral-700 uppercase [writing-mode:vertical-lr]"
        ><slot /></span
    >
    <span
        class="w-px flex-1 border-r border-dashed border-neutral-700"
        aria-hidden="true"></span>
    <span class="h-px w-2 bg-neutral-700" aria-hidden="true"></span>
</Tag>
