---
import { cva, type VariantProps } from "class-variance-authority";

const spacerVariants = cva(["spacer", "block", "m-0"], {
  variants: {
    height: {
      px: "h-px",
      sm: "h-2",
      md: "h-4",
      lg: "h-6",
      xl: "h-8",
    },
  },
  defaultVariants: {
    height: "px",
  },
});
type SpacerVariants = VariantProps<typeof spacerVariants>;
type Props = SpacerVariants;

const { height } = Astro.props;
---

<span class={spacerVariants({ height })} aria-hidden={true}></span>
