---
import { Image } from "astro:assets";
import avatar from "@/images/me.jpg";
---

<button
  class="mx-auto flex size-9 items-center justify-center rounded-full ring-2 ring-green-500"
  data-stories-trigger
>
  <Image
    src={avatar}
    width="48"
    height="48"
    alt=""
    class="size-8 rounded-full"
  />
</button>

<dialog data-stories-dialog class="m-auto border-0 p-0">Hello world</dialog>

<script>
  const storiesTrigger = document.querySelector(
    "[data-stories-trigger]"
  ) as HTMLElement;
  const storiesDialog = document.querySelector(
    "[data-stories-dialog]"
  ) as HTMLDialogElement;

  storiesTrigger?.addEventListener("click", () => {
    storiesDialog.showModal();
  });
</script>
