---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="README">
  <header class="container mt-4">
    <h1
      class="flex max-w-[40ch] items-center gap-x-2 text-2xl leading-tight font-medium tracking-tight"
    >
      <Icon name="terminal" />README.md
    </h1>
    <p class="text-muted-foreground mt-4 max-w-[55ch] font-medium text-balance">
      This is my user manual, a quick way to know a little about me and how I
      like to work.
    </p>
  </header>

  <section class="container mt-16">
    <ul class="space-y-8">
      {
        [
          {
            title: "Working hours",
            content:
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus excepturi sequi magnam quam, inventore minima voluptatem qui aliquam ut doloremque deleniti voluptate quos, animi ipsam? Pariatur ad qui quod modi.",
          },
          {
            title: "Work environment",
            content:
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus excepturi sequi magnam quam, inventore minima voluptatem qui aliquam ut doloremque deleniti voluptate quos, animi ipsam? Pariatur ad qui quod modi.",
          },
          {
            title: "Communication",
            content:
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus excepturi sequi magnam quam, inventore minima voluptatem qui aliquam ut doloremque deleniti voluptate quos, animi ipsam? Pariatur ad qui quod modi.",
          },
          {
            title: "Collaboration",
            content:
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus excepturi sequi magnam quam, inventore minima voluptatem qui aliquam ut doloremque deleniti voluptate quos, animi ipsam? Pariatur ad qui quod modi.",
          },
          {
            title: "Providing feedback",
            content:
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus excepturi sequi magnam quam, inventore minima voluptatem qui aliquam ut doloremque deleniti voluptate quos, animi ipsam? Pariatur ad qui quod modi.",
          },
          {
            title: "Things I value",
            content:
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus excepturi sequi magnam quam, inventore minima voluptatem qui aliquam ut doloremque deleniti voluptate quos, animi ipsam? Pariatur ad qui quod modi.",
          },
          {
            title: "Things I struggle with",
            content:
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus excepturi sequi magnam quam, inventore minima voluptatem qui aliquam ut doloremque deleniti voluptate quos, animi ipsam? Pariatur ad qui quod modi.",
          },
        ].map(({ title, content }, index) => {
          return (
            <li class="border-separator grid gap-x-8 gap-y-2 border-t pt-8 sm:grid-cols-[25%_1fr]">
              <span class="text-muted-foreground font-mono text-sm/[1.5rem]">
                {new Intl.NumberFormat("en-US", {
                  minimumIntegerDigits: 2,
                }).format(index + 1) + "."}
              </span>
              <h2 class="text-base font-medium">{title}</h2>
              <p class="text-muted-foreground sm:col-start-2">{content}</p>
            </li>
          );
        })
      }
    </ul>
  </section>
</BaseLayout>
