---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="README">
  <header class="container mt-4">
    <h1
      class="flex max-w-[40ch] items-center gap-x-2 text-2xl leading-tight font-medium tracking-tight"
    >
      <Icon name="terminal" />README.md
    </h1>
    <p class="text-muted-foreground mt-4 max-w-[55ch] font-medium text-balance">
      This is my user manual, a quick way to know a little about me and how I
      like to work.
    </p>
  </header>
</BaseLayout>
