---

---

<div
  class="h-full relative overflow-hidden pt-8 px-8 sm:p-0 bg-neutral-900 [--clip-offset:0%] sm:hover:[--clip-offset:100%]"
>
  <div
    class="relative sm:absolute mx-auto max-w-96 sm:min-w-full sm:translate-x-10 sm:translate-y-10"
  >
    <div
      class:list={[
        "absolute h-px border-t border-dashed border-neutral-700 -top-0.5",
        "w-screen left-1/2 right-1/2 ml-[-50vw] mr-[-50vw]",
      ]}
      aria-hidden="true"
    >
    </div>
    <div
      class="absolute h-full w-px -top-10 -left-0.5 bottom-0 border-l border-dashed border-neutral-700"
      aria-hidden="true"
    >
    </div>
    <div
      class="absolute h-full w-px -top-10 -right-0.5 bottom-0 border-r border-dashed border-neutral-700"
      aria-hidden="true"
    >
    </div>

    <div class="grid *:[grid-area:1/1]">
      <figure
        class="bg-white rounded-2xl overflow-hidden w-full p-8 shadow-xl duration-300 transition-all ease-in-out [clip-path:inset(0_0_0_var(--clip-offset))]"
        inert=""
      >
        <header class="flex flex-col justify-center items-center text-center">
          <div
            class="bg-neutral-700 size-8 rounded-md grid place-content-center"
          >
            <div class="size-4 bg-white rounded-full"></div>
          </div>
          <p class="mt-6 font-semibold text-[#131316]">Sign in to Acme Co</p>
          <p class="mt-1 text-[#747686] text-xs">
            Welcome back! Please sign in to continue
          </p>
        </header>

        <div class="space-y-6 mt-6">
          <div class="grid grid-cols-2 gap-x-4">
            <button
              style="box-shadow: 0px 0px 0px 1px rgba(25, 28, 33, 0.08), 0px 1px 0px 0px rgba(25, 28, 33, 0.02), 0px 2px 3px -1px rgba(0, 0, 0, 0.08);"
              class="h-[1.875rem] px-2 text-[#42434D] text-sm font-medium rounded-md flex items-center justify-center gap-2"
              ><svg viewBox="0 0 20 20" class="size-4"
                ><path
                  d="M13.6589 5.87932C12.7223 4.98599 11.4723 4.49932 10.1789 4.51932C7.81227 4.51932 5.80227 6.11599 5.0856 8.26599C4.70581 9.39246 4.70582 10.6122 5.08572 11.7386H5.08893C5.80893 13.8853 7.8156 15.4819 10.1823 15.4819C11.404 15.4819 12.4528 15.1694 13.2657 14.6175V14.6149C14.2224 13.9816 14.8757 12.9849 15.079 11.8582H10.179V8.36491H18.7357C18.8424 8.97157 18.8924 9.59157 18.8924 10.2082C18.8924 12.9676 17.9062 15.3004 16.1903 16.8804L16.1923 16.8819C14.6889 18.2686 12.6256 19.0719 10.1789 19.0719C6.74893 19.0719 3.61227 17.1386 2.07227 14.0753C0.785755 11.512 0.785807 8.49194 2.07242 5.92871C3.61253 2.8624 6.74916 0.929322 10.1789 0.929322C12.4323 0.902656 14.6089 1.74932 16.2489 3.28932L13.6589 5.87932Z"
                  fill="currentColor"></path></svg
              >Google</button
            >
            <button
              style="box-shadow: 0px 0px 0px 1px rgba(25, 28, 33, 0.08), 0px 1px 0px 0px rgba(25, 28, 33, 0.02), 0px 2px 3px -1px rgba(0, 0, 0, 0.08);"
              class="h-[1.875rem] px-2 text-[#42434D] text-sm font-medium rounded-md flex items-center justify-center gap-2"
              ><svg viewBox="0 0 20 20" class="size-4"
                ><path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M10 0.24707C4.475 0.24707 0 4.72207 0 10.2471C0 14.6721 2.8625 18.4096 6.8375 19.7346C7.3375 19.8221 7.525 19.5221 7.525 19.2596C7.525 19.0221 7.5125 18.2346 7.5125 17.3971C5 17.8596 4.35 16.7846 4.15 16.2221C4.0375 15.9346 3.55 15.0471 3.125 14.8096C2.775 14.6221 2.275 14.1596 3.1125 14.1471C3.9 14.1346 4.4625 14.8721 4.65 15.1721C5.55 16.6846 6.9875 16.2596 7.5625 15.9971C7.65 15.3471 7.9125 14.9096 8.2 14.6596C5.975 14.4096 3.65 13.5471 3.65 9.72207C3.65 8.63457 4.0375 7.73457 4.675 7.03457C4.575 6.78457 4.225 5.75957 4.775 4.38457C4.775 4.38457 5.6125 4.12207 7.525 5.40957C8.325 5.18457 9.175 5.07207 10.025 5.07207C10.875 5.07207 11.725 5.18457 12.525 5.40957C14.4375 4.10957 15.275 4.38457 15.275 4.38457C15.825 5.75957 15.475 6.78457 15.375 7.03457C16.0125 7.73457 16.4 8.62207 16.4 9.72207C16.4 13.5596 14.0625 14.4096 11.8375 14.6596C12.2 14.9721 12.5125 15.5721 12.5125 16.5096C12.5125 17.8471 12.5 18.9221 12.5 19.2596C12.5 19.5221 12.6875 19.8346 13.1875 19.7346C17.1375 18.4096 20 14.6596 20 10.2471C20 4.72207 15.525 0.24707 10 0.24707Z"
                  fill="currentColor"></path></svg
              >Github</button
            >
          </div>

          <p
            class="before:bg-black/10 after:bg-black/10 text-[#5E5F6E] text-sm flex items-center gap-x-4 before:h-px before:flex-1 after:h-px after:flex-1"
          >
            or
          </p>

          <div>
            <label class="text-sm font-medium text-[#42434D]"
              >Email address</label
            >
            <input
              type="text"
              class="mt-2 w-full h-[1.875rem] px-2 text-[#42434D] text-sm rounded-md bg-white"
              placeholder="example@email.com"
              style="box-shadow: 0px 0px 0px 1px rgba(25, 28, 33, 0.10), 0px 1px 1px 0px rgba(25, 28, 33, 0.06);"
            />
          </div>

          <button
            class:list={[
              "w-full text-sm font-medium rounded-md px-2 h-[1.875rem]",
            ]}
            style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%), var(--Primary, #2F3037);
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24), 0px 2px 3px 0px rgba(34, 42, 53, 0.20), 0px 1px 1px 0px rgba(255, 255, 255, 0.07), 0px 0px 0px 1px #2F3037;"
            >Continue</button
          >
        </div>
      </figure>

      <figure
        class="bg-[#212126] rounded-2xl overflow-hidden w-full p-8 shadow-xl"
        inert=""
      >
        <header class="flex flex-col justify-center items-center text-center">
          <div class="bg-[#D9D9DE] size-8 rounded-md grid place-content-center">
            <div class="size-4 bg-[#212126] rounded-full"></div>
          </div>
          <p class="mt-6 font-semibold text-white">Sign in to Acme Co</p>
          <p class="mt-1 text-[#9394A1] text-xs">
            Welcome back! Please sign in to continue
          </p>
        </header>

        <div class="space-y-6 mt-6">
          <div class="grid grid-cols-2 gap-x-4">
            <button
              style="background: linear-gradient(0deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%), var(--Gray-gray-900, #212126);
box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.04), 0px 0px 0px 1px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px #212126, 0px 2px 3px -1px rgba(0, 0, 0, 0.40);"
              class="h-[1.875rem] px-2 text-[#9394A1] text-sm font-medium rounded-md flex items-center justify-center gap-2"
              ><svg viewBox="0 0 20 20" class="size-4"
                ><path
                  d="M13.6589 5.87932C12.7223 4.98599 11.4723 4.49932 10.1789 4.51932C7.81227 4.51932 5.80227 6.11599 5.0856 8.26599C4.70581 9.39246 4.70582 10.6122 5.08572 11.7386H5.08893C5.80893 13.8853 7.8156 15.4819 10.1823 15.4819C11.404 15.4819 12.4528 15.1694 13.2657 14.6175V14.6149C14.2224 13.9816 14.8757 12.9849 15.079 11.8582H10.179V8.36491H18.7357C18.8424 8.97157 18.8924 9.59157 18.8924 10.2082C18.8924 12.9676 17.9062 15.3004 16.1903 16.8804L16.1923 16.8819C14.6889 18.2686 12.6256 19.0719 10.1789 19.0719C6.74893 19.0719 3.61227 17.1386 2.07227 14.0753C0.785755 11.512 0.785807 8.49194 2.07242 5.92871C3.61253 2.8624 6.74916 0.929322 10.1789 0.929322C12.4323 0.902656 14.6089 1.74932 16.2489 3.28932L13.6589 5.87932Z"
                  fill="currentColor"></path></svg
              >Google</button
            >
            <button
              style="background: linear-gradient(0deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%), var(--Gray-gray-900, #212126);
box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.04), 0px 0px 0px 1px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px #212126, 0px 2px 3px -1px rgba(0, 0, 0, 0.40);"
              class="h-[1.875rem] px-2 text-[#9394A1] text-sm font-medium rounded-md flex items-center justify-center gap-2"
              ><svg viewBox="0 0 20 20" class="size-4"
                ><path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M10 0.24707C4.475 0.24707 0 4.72207 0 10.2471C0 14.6721 2.8625 18.4096 6.8375 19.7346C7.3375 19.8221 7.525 19.5221 7.525 19.2596C7.525 19.0221 7.5125 18.2346 7.5125 17.3971C5 17.8596 4.35 16.7846 4.15 16.2221C4.0375 15.9346 3.55 15.0471 3.125 14.8096C2.775 14.6221 2.275 14.1596 3.1125 14.1471C3.9 14.1346 4.4625 14.8721 4.65 15.1721C5.55 16.6846 6.9875 16.2596 7.5625 15.9971C7.65 15.3471 7.9125 14.9096 8.2 14.6596C5.975 14.4096 3.65 13.5471 3.65 9.72207C3.65 8.63457 4.0375 7.73457 4.675 7.03457C4.575 6.78457 4.225 5.75957 4.775 4.38457C4.775 4.38457 5.6125 4.12207 7.525 5.40957C8.325 5.18457 9.175 5.07207 10.025 5.07207C10.875 5.07207 11.725 5.18457 12.525 5.40957C14.4375 4.10957 15.275 4.38457 15.275 4.38457C15.825 5.75957 15.475 6.78457 15.375 7.03457C16.0125 7.73457 16.4 8.62207 16.4 9.72207C16.4 13.5596 14.0625 14.4096 11.8375 14.6596C12.2 14.9721 12.5125 15.5721 12.5125 16.5096C12.5125 17.8471 12.5 18.9221 12.5 19.2596C12.5 19.5221 12.6875 19.8346 13.1875 19.7346C17.1375 18.4096 20 14.6596 20 10.2471C20 4.72207 15.525 0.24707 10 0.24707Z"
                  fill="currentColor"></path></svg
              >Github</button
            >
          </div>

          <p
            class="before:bg-white/10 after:bg-white/10 text-[#9394A1] text-sm flex items-center gap-x-4 before:h-px before:flex-1 after:h-px after:flex-1"
          >
            or
          </p>

          <div>
            <label class="text-sm font-medium text-[#D9D9DE]"
              >Email address</label
            >
            <input
              type="text"
              class="mt-2 w-full h-[1.875rem] px-2 bg-[#26262B] text-[#D9D9DE] text-sm rounded-md"
              placeholder="example@email.com"
              style="box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.04), 0px 0px 0px 1px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px #212126, 0px 2px 3px -1px rgba(0, 0, 0, 0.40);"
            />
          </div>

          <button
            class:list={[
              "w-full text-[#131316] text-sm font-medium rounded-md px-2 h-[1.875rem]",
            ]}
            style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.10) 100%), var(--Gray-gray-100, #EEEEF0);
box-shadow: 0px -1px 0px 0px #FFF, 0px 1px 1px 0px rgba(0, 0, 0, 0.16), 0px 0px 0px 1px #EDEFF2, 0px 1.5px 2px 0px rgba(0, 0, 0, 0.56);"
            >Continue</button
          >
        </div>
      </figure>
    </div>
  </div>
</div>
