---
import "@/styles/demos.css";
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>

  <body class="flex flex-col min-h-full bg-background text-foreground p-4">
    <slot />
  </body>
</html>
