@font-face {
  font-family: 'JetBrains Mono Web';
  font-display: swap;
  font-style: normal;
  src: url('/fonts/JetBrainsMono.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono Web';
  font-display: swap;
  font-style: italic;
  src: url('/fonts/JetBrainsMono-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono Web';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

html {
  @apply bg-black;
}

.prose > * + * {
  margin-top: 1.25rem;
}

.prose ul {
  padding-left: 1.35rem;
  list-style-type: disc;
}

.prose ul li + li {
  padding-top: 0.25rem;
}

.prose blockquote {
  @apply border-l-4 border-white border-opacity-10 pl-4;
}

.prose h2 {
  @apply text-xl;
}

.prose * + h2,
.prose * + h3 {
  @apply mt-8;
}

.prose a {
  text-decoration: underline;
}

.prose a:hover,
.prose a:focus {
  text-decoration: none;
}

.prose hr {
  @apply bg-gray-800 h-px w-full border-0;
}
