@font-face {
  font-family: 'JetBrains Mono Web';
  font-display: swap;
  font-style: normal;
  src: url('/fonts/JetBrainsMono.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono Web';
  font-display: swap;
  font-style: italic;
  src: url('/fonts/JetBrainsMono-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono Web';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

:root {
  --background: #f8f9fa;
  --foreground: #12181c;
}

[data-theme='dark'] {
  --background: #12181c;
  --foreground: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: 'JetBrains Mono Web', ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, Liberation Mono, Courier New, monospace;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
}
