@font-face {
  font-family: 'JetBrains Mono Web';
  font-display: swap;
  font-style: normal;
  src: url('/fonts/JetBrainsMono.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono Web';
  font-display: swap;
  font-style: italic;
  src: url('/fonts/JetBrainsMono-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono Web';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

html {
  @apply bg-gray-100 text-gray-800;
}

html.dark {
  @apply bg-black text-white;
}

.prose > * + * {
  @apply mt-6;
}

.prose h2 {
  @apply text-xl;
}

.prose * + h2,
.prose * + h3 {
  @apply mt-12;
}

.prose ul {
  padding-left: 1.35rem;
  list-style-type: disc;
}

.prose ul li + li {
  padding-top: 0.25rem;
}

.prose blockquote {
  @apply border-l-4 border-white border-opacity-10 pl-4;
}

.prose a {
  text-decoration: underline;
}

.prose a:hover,
.prose a:focus {
  text-decoration: none;
}

.prose hr {
  @apply bg-gray-200 dark:bg-gray-800 h-px w-full border-0;
}

code {
  @apply bg-gray-200 dark:bg-gray-900 px-1 py-0.5 rounded;
}

kbd {
  @apply bg-gray-200 dark:bg-gray-900 border-gray-300 dark:border-gray-800 px-1 rounded border-b-2;
}

[style*='--aspect-ratio'] {
  position: relative;
  width: 100%;
}

[style*='--aspect-ratio']::before {
  content: '';
  display: block;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}

[style*='--aspect-ratio'] > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.section + .section {
  @apply pt-12 mt-12 border-t border-gray-200 dark:border-gray-800;
}
