code[class*="language-"],
pre[class*="language-"] {
  color: #403f53;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 0.925rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
code[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection {
  text-shadow: none;
  background: #fbfbfb;
}
code[class*="language-"] ::selection,
code[class*="language-"]::selection,
pre[class*="language-"] ::selection,
pre[class*="language-"]::selection {
  text-shadow: none;
  background: #fbfbfb;
}
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  color: #fff;
  @apply bg-gray-50;
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.cdata,
.token.comment,
.token.prolog {
  color: #989fb1;
}
.token.punctuation {
  color: #994cc3;
}
.namespace {
  color: #0c969b;
}
.token.deleted {
  color: rgba(239, 83, 80, 0.56);
}
.token.keyword,
.token.operator,
.token.property,
.token.symbol {
  color: #0c969b;
}
.token.tag {
  color: #994cc3;
}
.token.boolean {
  color: #bc5454;
}
.token.number {
  color: #aa0982;
}
.language-css .token.string,
.style .token.string,
.token.builtin,
.token.char,
.token.constant,
.token.entity,
.token.string,
.token.url {
  color: #4876d6;
}
.token.doctype,
.token.function,
.token.selector {
  color: #994cc3;
}
.token.attr-name,
.token.inserted {
  color: #4876d6;
}
.token.atrule,
.token.attr-value,
.token.class-name {
  color: #111;
}
.token.important,
.token.regex,
.token.variable {
  color: #c96765;
}
.token.bold,
.token.important {
  font-weight: 700;
}

.dark code[class*="language-"],
.dark pre[class*="language-"] {
  color: #d6deeb;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.dark code[class*="language-"] ::-moz-selection,
.dark code[class*="language-"]::-moz-selection,
.dark pre[class*="language-"] ::-moz-selection,
.dark pre[class*="language-"]::-moz-selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.99);
}
.dark code[class*="language-"] ::selection,
.dark code[class*="language-"]::selection,
.dark pre[class*="language-"] ::selection,
.dark pre[class*="language-"]::selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.99);
}
.dark pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
.dark :not(pre) > code[class*="language-"],
.dark pre[class*="language-"] {
  color: #fff;
  @apply bg-gray-900;
}
.dark :not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.dark .token.cdata,
.dark .token.comment,
.dark .token.prolog {
  color: #637777;
}
.dark .token.punctuation {
  color: #c792ea;
}
.dark .namespace {
  color: #b2ccd6;
}
.dark .token.deleted {
  color: rgba(239, 83, 80, 0.56);
}
.dark .token.property,
.dark .token.symbol {
  color: #80cbc4;
}
.dark .token.keyword,
.dark .token.operator,
.dark .token.tag {
  color: #7fdbca;
}
.dark .token.boolean {
  color: #ff5874;
}
.dark .token.number {
  color: #f78c6c;
}
.dark .token.builtin,
.dark .token.char,
.dark .token.constant,
.dark .token.function {
  color: #82aaff;
}
.dark .token.doctype,
.dark .token.selector {
  color: #c792ea;
}
.dark .token.attr-name,
.dark .token.inserted {
  color: #addb67;
}
.dark .language-css .token.string,
.dark .style .token.string,
.dark .token.entity,
.dark .token.string,
.dark .token.url {
  color: #addb67;
}
.dark .token.atrule,
.dark .token.attr-value,
.dark .token.class-name {
  color: #ffcb8b;
}
.dark .token.important,
.dark .token.regex,
.dark .token.variable {
  color: #d6deeb;
}
.dark .token.bold,
.dark .token.important {
  font-weight: 700;
}
